.footer {
  background-color: rgb(150, 100, 200);
  color: white;
  padding: 10px;
  text-align: center;
  position: static;
  bottom: 0;
  width: 100%;
}

.footer .contact-info p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.footer .footer-links p {
  margin: 5px 0;
  font-size: 1rem;
}

.footer .footer-links p a {
  color: white;
  text-decoration: none;
}

.footer .footer-links p a:hover {
  text-decoration: underline;
}
