.group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem; /* Adjust padding if needed */
  gap: 5%;
  border-bottom: 1px solid #ddd;
  width:95%;
  max-width:500px;
}

.group-header-name {
  font-size: 1.5em; /* This increases the size of the group name */
  width: 25%;
  max-width:250px
}

.group-header-filler{
  min-width:0%;
  max-width:60%
}

.group-actions {
  display: flex;
  gap: 1rem;
}

.group-header-buttons {
    display: flex;
    gap: 5px;
    width: 85%;
    justify-content: flex-end; /* if you want them aligned right */
}

.rename-button,
.balance-button,
.delete-group-button {
    flex: 1;  /* Each button takes equal width */
    min-width: 80px;  /* Set a reasonable minimum */
    max-width: 150px; /* Optional, if you want them capped */
    padding: 10px;
    font-size: 1em;
}

.balance-button {
  background-color: #4CAF50; /* Green */
  color: white;
}


.rename-button {
  background-color: #4CAF50; /* Green */
  color: white;
}

.delete-group-button {
  background-color: #f44336; /* Red */
  color: white;
}

.rename-button:hover,
.balance-button:hover,
.delete-button:hover {
  opacity: 0.8; /* Slight opacity change on hover */
}
