.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(150, 100, 200);
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-link {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-itens {
  gap:10px;
  display: flex;
}

.button {
  background: #6200ea;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  padding: 6px
}

.button:hover {
  color: #e57373;
}

.button-link:hover {
  color: #d4a9ff;
}
