.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: rgb(150, 100, 200);
  color: white;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-link {
  font-size: 2rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin-left: 20px;
}

.button {
  background: #6200ea;
  border: none;
  font-size: 1.2rem;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
  padding: 6px 12px; /* Ensures similar spacing */
  display: flex;
  align-items: center; /* Aligns with buttons */
}

.button:hover {
  color: #e57373;
}

.button-link:hover {
  color: #d4a9ff;
}
