
.member-list {
  float: left;
  margin-right: auto; /* This pushes the list to the right */
  margin-top: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for card effect */
  background-color: #fff; /* White background for card-like appearance */
  margin-right: 15px; /* To shift the whole list a bit to the right */
  max-width: 20%;
  min-width: 10%;
  border: 1px solid #ddd; /* Light border for the card */
}



.member-header {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: Left; /* Center-align the header text */
}

.member-item {
  font-size: 15px;
  width: 95%;
  height: 40px;
  float: left;
  display: flex;
  justify-content: space-between; /* Pushes content to both sides */  align-items: left;
  margin-bottom: 10px;
  gap:10px;
  padding: 5px;
  border: 1px solid #ccc; /* Border for individual members */
  border-radius: 6px;
  background-color: #fff; /* White background for each item */
}

.member-item:last-child {
  margin-bottom: 0; /* Remove bottom margin for the last item */
}

.add-member-button {
  margin-left: 0%;
  background-color: #4caf50; /* Green color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 5px;
  cursor: pointer;
  width: 100%; /* Full width for a prominent button */
}

.add-member-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.delete-button {
  width: 45px;
  height: 40px;
  background-color: transparent; /* Red for delete */
  color: white;
  border: none;
  border-radius: 4px;
  padding: 1px 1px;
  cursor: pointer;
  height: 45px;
  max-width:20%;
}



.member-name {
  width: 80%;
}

.member-name-div {
  padding-left: 20px;
  display: flex;            /* Ensures content stays in a row */
  align-items: center;      /* Keeps text vertically centered */
  max-width: 150px;         /* Adjust as needed */
  overflow: hidden;         /* Hides overflowing text */
  white-space: nowrap;      /* Prevents wrapping */
  text-overflow: ellipsis;  /* Adds "..." when text is too long */
}