.member-list {

  float: left;
  margin-right: auto; /* This pushes the list to the right */
  margin-top: 0px;

  padding: 10px;
  border-radius: 8px;
  background-color: #fff; /* White background for card-like appearance */
  margin-right: 5px; /* To shift the whole list a bit to the right */
}

.member-list-collapsable{
  display:flex;
  flex-direction: column;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for card effect */
  background-color: #fff; /* White background for card-like appearance */
  margin-right: 5px; /* To shift the whole list a bit to the right */
  border: 1px solid #ddd; /* Light border for the card */
}

.memberSidebar-toggle{
  width: 30px;
  height: 30px;
  margin:5px;
  padding:0px;
  background: #none;
  border: none;
  cursor: pointer;
}

.memberSidebar-toggle img {
  width: 30px;
  height: 30px;
  top: -20px;
  right: -20px;
}


.inner-member-list{
  height: 99%;
  overflow-y:scroll;
  overflow-x:hidden;
  padding-right:7px;
  padding-top:10px;
}

.member-name {
  font-size: 15px;
  width: 100%;

}


.member-header {
  margin:0px;
  font-size:  1.3em;
  font-weight: bold;
  margin-bottom: 12px;
  text-align: Left; /* Center-align the header text */
}

.member-item {
  width: 95%;
  height: 30px;
  display: flex;
  margin-bottom: 5px;
  padding-bottom: 10px;
  padding-top: 0px;
  padding-left:5px;

  border: 1px solid #ccc; /* Border for individual members */
  border-radius: 6px;
  background-color: #fff; /* White background for each item */
}


.add-member-button {
  margin-left: 0%;
  background-color: #4caf50; /* Green color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Full width for a prominent button */
}

.add-member-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

.delete-member-button {
  background-color: transparent; /* Red for delete */
  cursor: pointer;
}

.delete-member-button img {
  margin-top:-10px;
  width: 30px;
  height: 30px;
}

